<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "background.jpg" %>');">
  <div class="banner-content">
    <h1>ANDERS CHRISTIAN RYDEN</h1>
    <br>
    <p>Developer | Designer | Dreamer</p>
  </div>
</div>
