<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <ul class="list-inline">
          <li><a href="https://www.facebook.com/anders.c.ryden"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/rydena021"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://github.com/rydena021"><i class="fa fa-github"></i></a></li>
          <li><a href="https://plus.google.com/u/0/116901747058934361936"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="https://www.linkedin.com/in/anderschristianryden/"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-6 text-right">
        <p>Copyright © Ryden Rails 2017</p>
      </div>
    </div>
  </div>
</div>
